In [1]:
import pandas as pd


csv_df = pd.read_csv("C:\\Users\\Ashish Pathak\\Downloads\\Car_length.csv")

df1 = pd.DataFrame(csv_df)
excel_df = pd.read_excel("C:\\Users\\Ashish Pathak\\Downloads\\Car-info.xlsx")
df2 = pd.DataFrame(excel_df)
print(df1)
print(df2)
# df1.head()
# df2.head()
merged_df = pd.merge(df1, df2,on = ['Company Name','Model Name'])

print(merged_df)

default_gst = 0.18  # 18%
for index, row in merged_df.iterrows():
    on_road_price = row['On-road pricing'] * (1 + default_gst)
    merged_df.at[index, 'On-road pricing'] = on_road_price
    
print(merged_df)

  Company Name Model Name Fuel Type Body style Car Length
0       Toyota    Corolla    Petrol      Sedan     4620mm
1        Honda      Civic       Gas      Sedan     4648mm
2      Hyundai        i20    Petrol  Hatchback     3995mm
3          Kia     Seltos    Diesel        SUV     4315mm
4        Tesla    Model 3        EV      Sedan     4690mm
5         Ford    Mustang    Petrol      Coupe     4788mm
  Company Name Model Name  On-road pricing  Loan amount  Monthly EMI
0       Toyota    Corolla            20000        16000          320  \
1        Honda      Civic            22000        18000          360
2      Hyundai        i20            15000        12000          240
3          Kia     Seltos            25000        20000          400
4        Tesla    Model 3            40000        32000          640
5         Ford    Mustang            30000        24000          480

   Interest Rate Monthly Principal Monthly Interest
0          0.050          Rs266.67          Rs53.33
1          0.060          Rs300.00          Rs60.00
2          0.040          Rs200.00          Rs40.00
3          0.070          Rs333.33          Rs66.67
4          0.030          Rs533.33         Rs106.67
5          0.055          Rs400.00          Rs80.00
  Company Name Model Name Fuel Type Body style Car Length  On-road pricing
0       Toyota    Corolla    Petrol      Sedan     4620mm            20000  \
1        Honda      Civic       Gas      Sedan     4648mm            22000
2      Hyundai        i20    Petrol  Hatchback     3995mm            15000
3          Kia     Seltos    Diesel        SUV     4315mm            25000
4        Tesla    Model 3        EV      Sedan     4690mm            40000
5         Ford    Mustang    Petrol      Coupe     4788mm            30000

   Loan amount  Monthly EMI  Interest Rate Monthly Principal Monthly Interest
0        16000          320          0.050          Rs266.67          Rs53.33
1        18000          360          0.060          Rs300.00          Rs60.00
2        12000          240          0.040          Rs200.00          Rs40.00
3        20000          400          0.070          Rs333.33          Rs66.67
4        32000          640          0.030          Rs533.33         Rs106.67
5        24000          480          0.055          Rs400.00          Rs80.00
  Company Name Model Name Fuel Type Body style Car Length  On-road pricing
0       Toyota    Corolla    Petrol      Sedan     4620mm            23600  \
1        Honda      Civic       Gas      Sedan     4648mm            25960
2      Hyundai        i20    Petrol  Hatchback     3995mm            17700
3          Kia     Seltos    Diesel        SUV     4315mm            29500
4        Tesla    Model 3        EV      Sedan     4690mm            47200
5         Ford    Mustang    Petrol      Coupe     4788mm            35400

   Loan amount  Monthly EMI  Interest Rate Monthly Principal Monthly Interest
0        16000          320          0.050          Rs266.67          Rs53.33
1        18000          360          0.060          Rs300.00          Rs60.00
2        12000          240          0.040          Rs200.00          Rs40.00
3        20000          400          0.070          Rs333.33          Rs66.67
4        32000          640          0.030          Rs533.33         Rs106.67
5        24000          480          0.055          Rs400.00          Rs80.00